
body {
    background-image: url(../../assets/images/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'gotham';
    overflow: hidden;
}

.loginContainer {
    display: flex;
    width: 20%;
    flex-direction: column;
    margin: 20vh auto;
    align-items: center;
}


.logoContainer {
    color: var(--main-orange);
    font-family: 'gotham-bold';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.logoContainer img {
    width: 100px;
}
